@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap");
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}

@media (max-width: 767.98px) {
  .header:before {
    background-color: #fff;
  }
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .header__body {
    height: 50px;
  }
}

.header__logo {
  z-index: 3;
  display: block;
}

@media (max-width: 992.98px) {
  .header__logo img {
    display: inline-block;
    width: 90%;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 20px;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #212121;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    content: '';
    background-color: #212121;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 767.98px) {
  .header__menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    background-color: #f0f0f0;
    padding: 70px 10px 20px 20px;
  }
  .header__menu.active {
    top: 0;
  }
}

@media (max-width: 479.98px) {
  .header__menu {
    width: 80%;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0px 0px 0px 20px;
}

.header__list form {
  margin: 0px 0px 0px 27px;
}

@media (max-width: 992.98px) {
  .header__list {
    margin: 0px 0px 0px 17px;
  }
}

@media (max-width: 767.98px) {
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 20px 0px 40px 0px;
    text-align: right;
    margin-right: 30px;
  }
}

.header__link {
  color: #6c6c6c;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__link:hover {
  color: #1e88e5;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.active__link {
  font-weight: 700;
  color: #212121;
  position: relative;
}

.active__link::after {
  position: absolute;
  content: '';
  background-color: #212121;
  height: 3px;
  width: 74px;
  left: -13px;
  top: 26px;
}

@media (max-width: 767.98px) {
  .active__link::after {
    width: 67px;
  }
}

nav {
  padding: 28px 0px 0px 0px;
}

.wrapper header {
  margin: 40px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .wrapper header {
    margin: 0px 0px 0px 0px;
  }
}

.form__search {
  position: relative;
  height: 50px;
}

.input__search {
  height: 28px;
  width: 0;
  padding: 0px 28px 0px 15px;
  border-bottom: 1px solid transparent;
  outline: none;
  background: transparent;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}

@media (max-width: 767.98px) {
  .input__search {
    width: 180px;
    border-bottom: 1px solid #212121;
  }
}

.input__search:focus {
  width: 300px;
  z-index: 3;
  border-bottom: 1px solid #212121;
  background-color: #fff;
}

@media (max-width: 767.98px) {
  .input__search:focus {
    width: 180px;
    background-color: #f0f0f0;
  }
}

.form__button {
  border: none;
  height: 30px;
  width: 23px;
  position: absolute;
  z-index: 3;
  top: 0px;
  right: 0;
  cursor: pointer;
  background-color: transparent;
}

.form__button:before {
  content: url("../img/header/search.svg");
}

.input__search::-webkit-input-placeholder {
  color: #6c6c6c;
  font-style: italic;
  background: #fff;
  letter-spacing: 1.5px;
  font-size: 14px;
  padding: 5px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .input__search::-webkit-input-placeholder {
    background-color: #f0f0f0;
  }
}

.input__search:-moz-placeholder {
  color: #6c6c6c;
  font-style: italic;
  background: #fff;
  letter-spacing: 1.5px;
}

.input__search:-ms-input-placeholder {
  color: #6c6c6c;
  font-style: italic;
  background: #fff;
  letter-spacing: 1.5px;
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
}

.contant {
  margin: 0px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .contant {
    margin: 0px 0px 0px 0px;
  }
}

.slider {
  background: url("../img/1/slider_img_201.jpg") center no-repeat;
  height: 800px;
  width: 100%;
}

@media (max-width: 992.98px) {
  .slider {
    height: 700px;
  }
}

@media (max-width: 767.98px) {
  .slider {
    height: 550px;
  }
}

@media (max-width: 479.98px) {
  .slider {
    height: 590px;
  }
}

.slider__title {
  padding: 370px 0px 0px 0px;
  color: #43a047;
  font-weight: 700;
}

@media (max-width: 992.98px) {
  .slider__title {
    padding: 250px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .slider__title {
    padding: 150px 0px 0px 0px;
  }
}

.slider__subtitle {
  padding: 10px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .slider__subtitle {
    padding: 30px 0px 0px 0px;
  }
}

.slider__text {
  padding: 15px 0px 0px 0px;
  width: 500px;
}

@media (max-width: 479.98px) {
  .slider__text {
    width: 250px;
  }
}

.slider__btn {
  margin: 30px 0px 0px 0px;
}

.slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 140px 0px 0px 0px;
}

@media (max-width: 479.98px) {
  .slider__slides {
    padding: 100px 0px 0px 0px;
  }
}

.slide-1 {
  width: 30px;
  height: 30px;
  opacity: 0.2;
  background-color: rgba(33, 33, 33, 0.5);
  border-radius: 20px;
}

@media (max-width: 767.98px) {
  .slide-1 {
    width: 20px;
    height: 20px;
  }
}

.slide-2 {
  width: 40px;
  height: 40px;
  background-color: #212121;
  border-radius: 20px;
  margin: 0px 10px 0px 10px;
}

@media (max-width: 767.98px) {
  .slide-2 {
    width: 30px;
    height: 30px;
  }
}

.featured {
  margin: 122px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .featured {
    margin: 40px 0px 0px 0px;
  }
}

.featured__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured__columm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured__item {
  padding: 60px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992.98px) {
  .featured__item {
    padding: 50px 0px 0px 0px;
  }
}

.featured .item__1 {
  background: url("../img/2/product_1.png") center no-repeat;
  width: 270px;
  height: 270px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin: 0px 26px 0px 0px;
}

@media (max-width: 992.98px) {
  .featured .item__1 {
    width: 170px;
    height: 170px;
    background: url("../img/2/product_1.png") 0 0/170px 170px no-repeat;
  }
}

@media (max-width: 479.98px) {
  .featured .item__1 {
    width: 120px;
    height: 120px;
    background: url("../img/2/product_1.png") 0 0/120px 120px no-repeat;
  }
}

.featured .item__1 .item__content {
  background: rgba(255, 255, 255, 0.9);
  width: 270px;
  height: 270px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid #9c9c9c;
  display: none;
  cursor: pointer;
}

@media (max-width: 992.98px) {
  .featured .item__1 .item__content {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 479.98px) {
  .featured .item__1 .item__content {
    width: 120px;
    height: 120px;
  }
}

.featured .item .item__1:hover .item__content {
  display: block;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.featured .item__2 {
  background: url("../img/2/product_2.png") center no-repeat;
  width: 270px;
  height: 270px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin: 0px 26px 0px 0px;
}

@media (max-width: 992.98px) {
  .featured .item__2 {
    width: 170px;
    height: 170px;
    background: url("../img/2/product_2.png") 0 0/170px 170px no-repeat;
  }
}

@media (max-width: 479.98px) {
  .featured .item__2 {
    width: 120px;
    height: 120px;
    background: url("../img/2/product_2.png") 0 0/120px 120px no-repeat;
  }
}

.featured .item__2 .item__content {
  background: rgba(255, 255, 255, 0.9);
  width: 270px;
  height: 270px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid #9c9c9c;
  display: none;
  cursor: pointer;
}

@media (max-width: 992.98px) {
  .featured .item__2 .item__content {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 479.98px) {
  .featured .item__2 .item__content {
    width: 120px;
    height: 120px;
  }
}

.featured .item .item__2:hover .item__content {
  display: block;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.featured .item__3 {
  background: url("../img/2/product_3.png") center no-repeat;
  width: 270px;
  height: 270px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin: 0px 26px 0px 0px;
}

@media (max-width: 992.98px) {
  .featured .item__3 {
    width: 170px;
    height: 170px;
    background: url("../img/2/product_3.png") 0 0/170px 170px no-repeat;
  }
}

@media (max-width: 610px) {
  .featured .item__3 {
    display: none;
  }
}

.featured .item__3 .item__content {
  background: rgba(255, 255, 255, 0.9);
  width: 270px;
  height: 270px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid #9c9c9c;
  display: none;
  cursor: pointer;
}

@media (max-width: 992.98px) {
  .featured .item__3 .item__content {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 610px) {
  .featured .item__3 .item__content {
    display: none;
  }
}

.featured .item .item__3:hover .item__content {
  display: block;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.featured .item__4 {
  background: url("../img/2/product_4.png") center no-repeat;
  width: 270px;
  height: 270px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

@media (max-width: 1160px) {
  .featured .item__4 {
    display: none;
  }
}

.featured .item__4 .item__content {
  background: rgba(255, 255, 255, 0.9);
  width: 270px;
  height: 270px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid #9c9c9c;
  display: none;
  cursor: pointer;
}

@media (max-width: 1160px) {
  .featured .item__4 .item__content {
    display: none;
  }
}

.featured .item .item__4:hover .item__content {
  display: block;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.featured .item .content__link {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
          box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
  border-radius: 24px;
  background: url("../img/arrow.png") center no-repeat;
  margin: 62px 0px 0px 110px;
}

@media (max-width: 767.98px) {
  .featured .item .content__link {
    width: 35px;
    height: 35px;
    margin: 30px 0px 0px 70px;
  }
}

@media (max-width: 479.98px) {
  .featured .item .content__link {
    width: 35px;
    height: 35px;
    margin: 20px 0px 0px 40px;
  }
}

.featured .item .content__title {
  font-size: 22px;
  line-height: 29px;
  font-weight: 700;
  color: #212121;
  margin: 15px 0px 0px 60px;
}

@media (max-width: 767.98px) {
  .featured .item .content__title {
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0px 0px 20px;
  }
}

@media (max-width: 479.98px) {
  .featured .item .content__title {
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0px 0px 10px;
  }
}

.featured .item .content__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #6c6c6c;
  margin: 23px 28px 0px 28px;
  height: 40px;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .featured .item .content__text {
    margin: 10px 10px 0px 10px;
    line-height: 15px;
    height: 45px;
  }
}

@media (max-width: 479.98px) {
  .featured .item .content__text {
    display: none;
  }
}

.promo {
  margin: 120px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .promo {
    margin: 60px 0px 0px 0px;
  }
}

.promo__body {
  margin: 0 auto;
  width: 1366px;
}

@media (max-width: 1370px) {
  .promo__body {
    width: 100%;
  }
}

.promo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 228px 50px 100px 50px;
}

@media (max-width: 992.98px) {
  .promo__column {
    padding: 150px 50px 100px 50px;
  }
}

@media (max-width: 767.98px) {
  .promo__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 90px 40px 100px 40px;
  }
}

@media (max-width: 479.98px) {
  .promo__column {
    padding: 80px 10px 80px 10px;
  }
}

.promo__title {
  color: #1e88e5;
}

.promo__subtitle {
  padding: 10px 0px 10px 0px;
}

.promo__text {
  height: 50px;
  overflow: hidden;
  margin: 0px 200px 0px 0px;
}

@media (max-width: 1370px) {
  .promo__text {
    margin: 0px 100px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .promo__text {
    margin: 0px 40px 0px 0px;
  }
}

.promo__btn {
  margin: 25px 0px 90px 0px;
}

@media (max-width: 1150px) {
  .promo__btn {
    margin: 25px 0px 0px 0px;
  }
}

.promo--1 {
  background: url("../img/3/promo-1.png") right no-repeat;
}

@media (max-width: 1250px) {
  .promo--1 {
    background: url("../img/3/promo-1.png") right/contain no-repeat;
  }
}

@media (max-width: 683px) {
  .promo--1 {
    background: url("../img/3/promo-1.png") 0 0/100% auto no-repeat;
  }
}

.promo--2 {
  background: url("../img/3/promo-2.png") left no-repeat;
}

@media (max-width: 1250px) {
  .promo--2 {
    background: url("../img/3/promo-2.png") left/contain no-repeat;
  }
}

@media (max-width: 683px) {
  .promo--2 {
    display: none;
  }
}

.trending {
  margin: 120px 0px 0px 0px;
}

.trending__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending__column-title {
  margin: 0px 0px 60px 0px;
}

.trending__column {
  margin: 0px 0px 30px 0px;
}

.hot {
  margin: 120px 0px 0px 0px;
  background: url("../img/5/slider_hot.png") center no-repeat;
  height: 800px;
  width: 100%;
}

.hot__title {
  padding: 287px 0px 0px 0px;
  color: #e53935;
}

.hot__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 225px 0px 0px 0px;
}

.exclusive {
  margin: 120px 0px 0px 0px;
}

.exclusive__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.exclusive__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.exclusive__title {
  color: #1e88e5;
  margin: 0px 0px 10px 0px;
}

.exclusive__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
  margin: 10px 0px 0px 0px;
  width: 333px;
  height: 50px;
  overflow: hidden;
}

.exclusive__row-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 28px 0px;
}

.exclusive__column-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 0px 0px 15px;
}

.exclusive--bg {
  background: url("../img/6/exclusive_1.png") left no-repeat;
  width: 570px;
  height: 570px;
  padding: 180px 30px 0px 30px;
}

.inner--1 {
  padding: 0px 0px 0px 20px;
}

.mobile {
  margin: 92px 0px 0px 0px;
  background: url("../img/7/1.png") center no-repeat;
  height: 516px;
}

.mobile__body {
  padding: 120px 0px 0px 0px;
}

.mobile__title {
  color: #6c6c6c;
}

.mobile__subtitle {
  padding: 0px 610px 0px 0px;
  height: 120px;
  overflow: hidden;
  margin: 10px 0px 0px 0px;
}

.mobile__text {
  margin: 30px 0px 0px 0px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}

.mobile__btn {
  margin: 30px 0px 0px 0px;
}

.mobile__btn a {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.mobile__btn a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer {
  background-color: #f7f7f7;
  width: 1366px;
  height: 384px;
  margin: 0 auto;
}

footer .footer__top {
  padding: 115px 0px 0px 0px;
}

footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__column-1 {
  width: 250px !important;
  margin: 0px 70px 0px 0px;
}

footer .footer__column-2 {
  width: 524px !important;
}

footer .footer__column-3 {
  width: 400px !important;
}

footer .footer__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #6c6c6c;
  margin: 0px 0px 15px 0px;
}

footer .footer__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #212121;
}

footer .footer__text p {
  display: inline-block;
}

footer .footer__text .text {
  margin: 25px 0px 0px 0px;
}

footer .footer__item {
  width: 235px;
  float: left;
}

footer .footer__list a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #212121;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer .footer__list a:hover {
  color: #1e88e5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer .footer__list a:focus {
  color: rgba(33, 33, 33, 0.5);
}

footer .footer__buttom {
  margin: 60px 0px 0px 0px;
}

footer .footer__copy {
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #6c6c6c;
}

footer .footer__copy a {
  color: #6c6c6c;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer .footer__copy a:hover {
  color: #1e88e5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer .footer__social a {
  margin: 0px 10px 0px 0px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer .footer__social a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer .footer__social img {
  height: 25px;
}

.form__body {
  margin: 25px 0px 0px 0px;
  position: relative;
  height: 48px;
  z-index: 3;
}

.form__input {
  height: 48px;
  width: 370px;
  border: 1px solid #d9dee1;
  padding: 0px 0px 0px 20px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__input:focus {
  border: 1px solid #6c6c6c;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__btn-email {
  height: 46px;
  width: 46px;
  position: absolute;
  z-index: 4;
  top: 1px;
  right: 2px;
  cursor: pointer;
  background-color: #fff;
  background: #fff url("../img/footer/1.png") center no-repeat;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__btn-email:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.subtitle {
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
}

@media (max-width: 767.98px) {
  .subtitle {
    font-size: 30px;
  }
}

.text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}

@media (max-width: 767.98px) {
  .text {
    line-height: 22px;
  }
}

.btn {
  width: 212px;
  height: 45px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
          box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
  border-radius: 22.5px;
}

@media (max-width: 767.98px) {
  .btn {
    width: 150px;
  }
}

.btn a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
  display: block;
  padding: 12px 0px 0px 31px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btn a:hover:after {
  content: url("../img/arrow.png");
  padding: 0 0 0 22px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@media (max-width: 767.98px) {
  .btn a:hover:after {
    padding: 0px 0px 0px 5px;
  }
}

@media (max-width: 767.98px) {
  .btn a {
    font-size: 14px;
    padding: 10px 0px 0px 22px;
  }
}

.block__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #6c6c6c;
}

@media (max-width: 992.98px) {
  .block__title {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  .block__title {
    font-size: 25px;
  }
}

@media (max-width: 479.98px) {
  .block__title {
    font-size: 16px;
  }
}

.block__title .title-active {
  color: #212121;
  display: inline-block;
}

.block__title .underline-bold {
  position: relative;
  margin: 0px 20px 0px 10px;
}

@media (max-width: 479.98px) {
  .block__title .underline-bold {
    margin: 0px 5px 0px 10px;
  }
}

.block__title .underline-bold::after {
  position: absolute;
  content: "";
  background-color: #212121;
  height: 3px;
  width: 187px;
  top: 50px;
  left: -10px;
}

@media (max-width: 992.98px) {
  .block__title .underline-bold::after {
    width: 160px;
  }
}

@media (max-width: 767.98px) {
  .block__title .underline-bold::after {
    width: 135px;
    top: 35px;
  }
}

@media (max-width: 479.98px) {
  .block__title .underline-bold::after {
    width: 90px;
    top: 30px;
  }
}

.block__title .underline-thin {
  position: relative;
}

.block__title .underline-thin::after {
  position: absolute;
  content: "";
  background-color: #212121;
  height: 1px;
  width: 120px;
  top: 53px;
  left: -13px;
}

@media (max-width: 992.98px) {
  .block__title .underline-thin::after {
    width: 100px;
  }
}

@media (max-width: 767.98px) {
  .block__title .underline-thin::after {
    width: 80px;
    top: 38px;
  }
}

@media (max-width: 479.98px) {
  .block__title .underline-thin::after {
    width: 60px;
    top: 32px;
  }
}

.explore a {
  display: block;
  padding: 15px 0px 0px 0px;
  position: relative;
  left: -24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
}

@media (max-width: 992.98px) {
  .explore a {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .explore a {
    padding: 5px 0px 0px 0px;
  }
}

@media (max-width: 479.98px) {
  .explore a {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 479.98px) {
  .explore a {
    letter-spacing: 0.05em;
    font-size: 12px;
  }
}

.explore a:hover {
  color: #212121;
}

.explore a:hover:after {
  position: absolute;
  content: url("../img/arrow.png");
  padding: 0 0 0 12px;
}

@media (max-width: 479.98px) {
  .explore a:hover:after {
    padding: 0px 0px 0px 8px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  background-repeat: 0 im !important;
  width: 100%;
  display: block;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

@media (max-width: 1192pxpx) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
