@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap");
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .header__body {
    height: 50px;
  }
}

.header__logo {
  z-index: 3;
  display: block;
}

.header__burger {
  display: none;
}

@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 20px;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #212121;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    content: '';
    background-color: #212121;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 767.98px) {
  .header__menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    background-color: #f0f0f0;
    padding: 70px 10px 20px 20px;
  }
  .header__menu.active {
    top: 0;
  }
}

@media (max-width: 479.98px) {
  .header__menu {
    width: 80%;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0px 0px 0px 20px;
}

.header__list form {
  margin: 0px 0px 0px 27px;
}

@media (max-width: 992.98px) {
  .header__list {
    margin: 0px 0px 0px 17px;
  }
}

@media (max-width: 767.98px) {
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 20px 0px 40px 0px;
    text-align: right;
    margin-right: 30px;
  }
}

.header__link {
  color: #6c6c6c;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__link:hover {
  color: #1e88e5;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.active__link {
  font-weight: 700;
  color: #212121;
  position: relative;
}

.active__link::after {
  position: absolute;
  content: '';
  background-color: #212121;
  height: 3px;
  width: 74px;
  left: -13px;
  top: 26px;
}

@media (max-width: 767.98px) {
  .active__link::after {
    width: 67px;
  }
}

nav {
  padding: 13px 0px 0px 0px;
}

.wrapper header {
  margin: 40px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .wrapper header {
    margin: 0px 0px 0px 0px;
  }
}

form {
  position: relative;
  height: 40px;
}

input {
  height: 28px;
  width: 0;
  padding: 0px 28px 0px 15px;
  border-bottom: 1px solid transparent;
  outline: none;
  background: transparent;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}

@media (max-width: 767.98px) {
  input {
    width: 180px;
    border-bottom: 1px solid #212121;
  }
}

input:focus {
  width: 300px;
  z-index: 3;
  border-bottom: 1px solid #212121;
  background-color: #fff;
}

@media (max-width: 767.98px) {
  input:focus {
    width: 180px;
    background-color: #f0f0f0;
  }
}

button {
  border: none;
  height: 23px;
  width: 23px;
  position: absolute;
  z-index: 3;
  top: 0px;
  right: 0;
  cursor: pointer;
}

button:before {
  content: url("../img/header/search_224.png");
}

input::-webkit-input-placeholder {
  color: #6c6c6c;
  font-style: italic;
  background: #ffffff;
  letter-spacing: 1.5px;
  font-size: 14px;
}

@media (max-width: 767.98px) {
  input::-webkit-input-placeholder {
    background-color: #f0f0f0;
  }
}

input:-moz-placeholder {
  color: #6c6c6c;
  font-style: italic;
  background: #ffffff;
  letter-spacing: 1.5px;
}

input:-ms-input-placeholder {
  color: #6c6c6c;
  font-style: italic;
  background: #ffffff;
  letter-spacing: 1.5px;
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
}

.contant {
  margin: 0px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .contant {
    margin: 0px 0px 0px 0px;
  }
}

.slider {
  background: url("../img/1/slider_img_201.jpg") center no-repeat;
  height: 800px;
  width: 100%;
}

.slider__title {
  padding: 373px 0px 0px 0px;
  color: #43a047;
  font-weight: 700;
}

.slider__subtitle {
  padding: 20px 0px 0px 0px;
}

.slider__text {
  padding: 30px 0px 0px 0px;
  width: 500px;
}

.slider__btn {
  margin: 30px 0px 0px 0px;
}

.slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 115px 0px 0px 0px;
}

.slide-1 {
  width: 30px;
  height: 30px;
  opacity: 0.2;
  background-color: #C7C7C7;
  border-radius: 20px;
}

.slide-2 {
  width: 40px;
  height: 40px;
  background-color: #212121;
  border-radius: 20px;
  margin: 0px 10px 0px 10px;
}

.featured {
  margin: 122px 0px 0px 0px;
}

.featured__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured__columm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured__item {
  padding: 60px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured .item__1 {
  background: url("../img/2/product_1.png") center no-repeat;
  width: 270px;
  height: 270px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin: 0px 26px 0px 0px;
}

.featured .item__1 .item__content {
  background: rgba(255, 255, 255, 0.9);
  width: 270px;
  height: 270px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid #9c9c9c;
  display: none;
  cursor: pointer;
}

.featured .item .item__1:hover .item__content {
  display: block;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.featured .item__2 {
  background: url("../img/2/product_2.png") center no-repeat;
  width: 270px;
  height: 270px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin: 0px 26px 0px 0px;
}

.featured .item__2 .item__content {
  background: rgba(255, 255, 255, 0.9);
  width: 270px;
  height: 270px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid #9c9c9c;
  display: none;
  cursor: pointer;
}

.featured .item .item__2:hover .item__content {
  display: block;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.featured .item__3 {
  background: url("../img/2/product_3.png") center no-repeat;
  width: 270px;
  height: 270px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin: 0px 26px 0px 0px;
}

.featured .item__3 .item__content {
  background: rgba(255, 255, 255, 0.9);
  width: 270px;
  height: 270px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid #9c9c9c;
  display: none;
  cursor: pointer;
}

.featured .item .item__3:hover .item__content {
  display: block;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.featured .item__4 {
  background: url("../img/2/product_4.png") center no-repeat;
  width: 270px;
  height: 270px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.featured .item__4 .item__content {
  background: rgba(255, 255, 255, 0.9);
  width: 270px;
  height: 270px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid #9c9c9c;
  display: none;
  cursor: pointer;
}

.featured .item .item__4:hover .item__content {
  display: block;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.featured .item .content__link {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
          box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
  border-radius: 24px;
  background: url("../img/arrow.png") center no-repeat;
  margin: 62px 0px 0px 110px;
}

.featured .item .content__title {
  font-size: 22px;
  line-height: 29px;
  font-weight: 700;
  color: #212121;
  margin: 15px 0px 0px 60px;
}

.featured .item .content__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #6c6c6c;
  margin: 23px 28px 0px 28px;
  height: 40px;
  overflow: hidden;
}

.promo {
  margin: 120px 0px 0px 0px;
}

.promo__body {
  margin: 0 auto;
  width: 1366px;
}

.promo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  height: 683px;
  padding: 228px 50px 0px 50px;
}

.promo__title {
  color: #1e88e5;
}

.promo__subtitle {
  padding: 15px 0px 20px 0px;
}

.promo__text {
  height: 50px;
  overflow: hidden;
  margin: 0px 200px 0px 0px;
}

.promo__btn {
  margin: 30px 0px 0px 0px;
}

.promo--1 {
  background: url("../img/3/promo-1.png") center no-repeat;
}

.promo--2 {
  background: url("../img/3/promo-2.png") center no-repeat;
}

.trending {
  margin: 120px 0px 0px 0px;
}

.trending__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending__column-title {
  margin: 0px 0px 60px 0px;
}

.trending__column {
  margin: 0px 0px 30px 0px;
}

.hot {
  margin: 120px 0px 0px 0px;
  background: url("../img/5/slider_hot.png") center no-repeat;
  height: 800px;
  width: 100%;
}

.hot__title {
  padding: 287px 0px 0px 0px;
  color: #e53935;
}

.hot__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0px 0px 0px;
}

.exclusive {
  margin: 120px 0px 0px 0px;
}

.exclusive__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.exclusive__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.exclusive__title {
  color: #1e88e5;
  margin: 0px 0px 10px 0px;
}

.exclusive__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
  margin: 10px 0px 0px 0px;
  width: 333px;
  height: 50px;
  overflow: hidden;
}

.exclusive__row-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 28px 0px;
}

.exclusive__column-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 0px 0px 15px;
}

.exclusive--bg {
  background: url("../img/6/exclusive_1.png") left no-repeat;
  width: 570px;
  height: 570px;
  padding: 180px 30px 0px 30px;
}

.inner--1 {
  padding: 0px 0px 0px 20px;
}

.mobile {
  margin: 92px 0px 0px 0px;
  background: url("../img/7/1.png") center no-repeat;
  height: 516px;
}

.mobile__body {
  padding: 125px 0px 0px 0px;
}

.mobile__title {
  color: #6c6c6c;
}

.mobile__subtitle {
  padding: 0px 610px 0px 0px;
  height: 120px;
  overflow: hidden;
  margin: 10px 0px 0px 0px;
}

.mobile__text {
  margin: 20px 0px 0px 0px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}

.mobile__btn {
  margin: 30px 0px 0px 0px;
}

.mobile__btn a {
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

/*
.techniques {
	&__row {
		@include flexbox();
		font-size: 16px;
		flex-wrap: wrap;
		margin: 0px -10px;
		justify-content: space-between;
	}
	&__column {
		flex: 1 1 33.333%;
		padding: 0px 10px;
	}*/
.title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.subtitle {
  font-size: 62px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
}

.text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}

.btn {
  width: 212px;
  height: 45px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
          box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
  border-radius: 22.5px;
}

.btn a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
  display: block;
  padding: 12px 0px 0px 31px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btn a:hover:after {
  content: url("../img/arrow.png");
  padding: 0 0 0 22px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.block__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #6c6c6c;
}

.block__title .title-active {
  color: #212121;
  display: inline-block;
}

.block__title .underline-bold {
  position: relative;
  margin: 0px 20px 0px 10px;
}

.block__title .underline-bold::after {
  position: absolute;
  content: "";
  background-color: #212121;
  height: 3px;
  width: 187px;
  top: 50px;
  left: -10px;
}

.block__title .underline-thin {
  position: relative;
}

.block__title .underline-thin::after {
  position: absolute;
  content: "";
  background-color: #212121;
  height: 1px;
  width: 120px;
  top: 53px;
  left: -13px;
}

.explore a {
  display: block;
  padding: 15px 0px 0px 0px;
  position: relative;
  left: -24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
}

.explore a:hover {
  color: #212121;
}

.explore a:hover:after {
  position: absolute;
  content: url("../img/arrow.png");
  padding: 0 0 0 12px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  background-repeat: 0 im !important;
  width: 100%;
  display: block;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

@media (max-width: 1192pxpx) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
