//GRID
$mw: 1180px;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;

body{
	@media (max-width: $md3+px){
		&.lock{
			overflow: hidden;
		}
	}
}
.contant {
	margin: 0px 0px 0px 0px;
	@media (max-width: $md3+px){
		margin: 0px 0px 0px 0px;
	}
}

//block one - slider ===================================
.slider {
	background: url("../img/1/slider_img_201.jpg") center no-repeat;
	height: 800px;
	width: 100%;
	&__body {
	}
	&__title {
		padding: 373px 0px 0px 0px;
		color: $titleClr;
		font-weight: 700;
	}
	&__subtitle {
		padding: 20px 0px 0px 0px;
	}

	&__text {
		padding:  30px 0px 0px 0px;
		width: 500px;
	}

	&__btn {
		margin:  30px 0px 0px 0px;
	}

	&__slides {
		@include flexbox();
		align-items: center;
		justify-content: center;
		padding: 115px 0px 0px 0px;
	}
}
.slide-1 {
	width: 30px;
	height: 30px;
	opacity: 0.2;
	background-color: #C7C7C7;
	border-radius: 20px;
}
.slide-2 {
	width: 40px;
	height: 40px;
	background-color: #212121;
	border-radius: 20px;
	margin: 0px 10px 0px 10px;
}




//block 3===============================================
/*
.techniques {
	&__row {
		@include flexbox();
		font-size: 16px;
		flex-wrap: wrap;
		margin: 0px -10px;
		justify-content: space-between;
	}
	&__column {
		flex: 1 1 33.333%;
		padding: 0px 10px;
	}*/
	

