//GRID
$mw: 1180px;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;

body{
	@media (max-width: $md3+px){
		&.lock{
			overflow: hidden;
		}
	}
}
.contant {
	margin: 0px 0px 0px 0px;
	@media (max-width: $md3+px){
		margin: 0px 0px 0px 0px;
	}
}

//block 1 - slider ===================================
.slider {
	background: url("../img/1/slider_img_201.jpg") center no-repeat;
	height: 800px;
	width: 100%;
	&__body {
	}
	&__title {
		padding: 373px 0px 0px 0px;
		color: $titleClr;
		font-weight: 700;
	}
	&__subtitle {
		padding: 20px 0px 0px 0px;
	}

	&__text {
		padding:  30px 0px 0px 0px;
		width: 500px;
	}

	&__btn {
		margin:  30px 0px 0px 0px;
	}

	&__slides {
		@include flexbox();
		align-items: center;
		justify-content: center;
		padding: 115px 0px 0px 0px;
	}
}
.slide-1 {
	width: 30px;
	height: 30px;
	opacity: 0.2;
	background-color: #C7C7C7;
	border-radius: 20px;
}
.slide-2 {
	width: 40px;
	height: 40px;
	background-color: #212121;
	border-radius: 20px;
	margin: 0px 10px 0px 10px;
}

//block 2 - featured ===================================
.featured {
	margin: 122px 0px 0px 0px;

	&__title {
	}

	&__row {
		@include flexbox();
		justify-content: space-between;
	}
	&__column-title {
	
	}
	&__column {
		
	}

	&__columm {
		@include flexbox();
		justify-content: space-between;
		flex-wrap: wrap;

	}
	&__item {
		padding: 60px 0px 0px 0px;
		@include flexbox();
		flex-wrap: wrap;
	}
	.item {
		&__1 {
			background: url("../img/2/product_1.png") center no-repeat;
			width: 270px;
			height: 270px;
			position: relative;
			transition: all 0.8s ease 0s;
			margin: 0px 26px 0px 0px;
			.item__content {
				background: rgba(255, 255, 255, 0.9);
				width: 270px;
				height: 270px;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				outline: 1px solid #9c9c9c;
				display: none;
				cursor: pointer;
			}
		}
		.item__1:hover .item__content {
			display: block;
			transition: all 0.8s ease 0s;
		}
		&__2 {
			background: url("../img/2/product_2.png") center no-repeat;
			width: 270px;
			height: 270px;
			position: relative;
			transition: all 0.8s ease 0s;
			margin: 0px 26px 0px 0px;
			.item__content {
				background: rgba(255, 255, 255, 0.9);
				width: 270px;
				height: 270px;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				outline: 1px solid #9c9c9c;
				display: none;
				cursor: pointer;
			}
		}
		.item__2:hover .item__content {
			display: block;
			transition: all 0.8s ease 0s;
		}
		&__3 {
			background: url("../img/2/product_3.png") center no-repeat;
			width: 270px;
			height: 270px;
			position: relative;
			transition: all 0.8s ease 0s;
			margin: 0px 26px 0px 0px;
			.item__content {
				background: rgba(255, 255, 255, 0.9);
				width: 270px;
				height: 270px;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				outline: 1px solid #9c9c9c;
				display: none;
				cursor: pointer;
			}
		}
		.item__3:hover .item__content {
			display: block;
			transition: all 0.8s ease 0s;
		}
		&__4 {
			background: url("../img/2/product_4.png") center no-repeat;
			width: 270px;
			height: 270px;
			position: relative;
			transition: all 0.8s ease 0s;
			.item__content {
				background: rgba(255, 255, 255, 0.9);
				width: 270px;
				height: 270px;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				outline: 1px solid #9c9c9c;
				display: none;
				cursor: pointer;
			}
		}
		.item__4:hover .item__content {
			display: block;
			transition: all 0.8s ease 0s;
		}
		.content {
			&__link {
				width: 48px;
				height: 48px;
				background-color: #ffffff;
				box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
				border-radius: 24px;
				background: url("../img/arrow.png") center no-repeat;
				margin: 62px 0px 0px 110px;
			}
			&__title {
				font-size: 22px;
				line-height: 29px;
				font-weight: 700;
				color: $textColor;
				margin: 15px 0px 0px 60px;
			}
			&__text {
				font-size: 14px;
				line-height: 21px;
				font-weight: 300;
				color: #6c6c6c;
				margin: 23px 28px 0px 28px;
				height: 40px;
				overflow: hidden;
			}
		}
	}
}





//block 3===============================================
/*
.techniques {
	&__row {
		@include flexbox();
		font-size: 16px;
		flex-wrap: wrap;
		margin: 0px -10px;
		justify-content: space-between;
	}
	&__column {
		flex: 1 1 33.333%;
		padding: 0px 10px;
	}*/
	

