footer{
	background-color: #f7f7f7;
	margin: 0 auto;
	.footer {
		&__top {
			padding: 115px 0px 0px 0px;
			@media (max-width: $md2+px){
				padding: 40px 0px 0px 0px;
			}
		}
		&__row {
			@include flexbox();
			justify-content: space-between;
			@media (max-width: $md2+px){
				flex-direction: column;
			}
		}
		&__row-buttom {
			@include flexbox();
			justify-content: space-between;
			@media (max-width: $md3+px){
				flex-direction: column;
				align-items: center;
			}
		}
		&__column-1 {
			width: 250px !important;
			margin: 0px 70px 0px 0px;
			@media (max-width: $md2+px){
				width: 100% !important;
				margin: 0px 0px 0px 0px;
			}
		}
		&__column-2 {
			width: 524px !important;
			@media (max-width: $md2+px){
				width: 100% !important;
			}
		}
		&__column-3 {
			width: 400px !important;
			@media (max-width: $md4+px){
				width: 310px !important;
			}
		}
		&__title {
			font-size: 18px;
			line-height: 24px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $textContent;
			margin: 20px 0px 15px 0px;
		}
		&__text {
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			color: $textColor;
			p{
				display: inline-block;
			}
			.text {
				margin: 25px 0px 0px 0px;
				@media (max-width: $md2+px){
					margin: 0px 0px 20px 0px;
				}
			}
		}
		&__item {
			width: 235px;
			float: left;
		}
		&__list {
			@media (max-width: $md2+px){
				margin: 0px 0px 20px 0px;
			}
			a{
				font-size: 14px;
				line-height: 24px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: $textColor;
				transition: all 0.5s ease 0s;
				&:hover {
					color: $activeClr;
					transition: all 0.5s ease 0s;
				}
				&:focus {
					color: rgba(33, 33, 33, 0.5);
				}
			}
		}
		&__link {
		}
		&__buttom {
			margin: 60px 0px 0px 0px;
			padding:  0px 0px 30px 0px;
			@media (max-width: $md3+px){
				padding: 5px 0px 0px 0px;
			}
		}
		&__column-buttom {
			flex: 1 1 33.333%;
			@media (max-width: $md3+px){
				padding:  0px 0px 15px 0px;
			}
		}
		&__copy {
			font-size: 12px;
			line-height: 26px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.03em;
			color: $textContent;
			@media (max-width: $md2+px){
				line-height: 15px;
			}
			@media (max-width: $md4+px){
				font-size: 10px;
			}
			a {
			color: $textContent;
			transition: all 0.5s ease 0s;
			&:hover {
				color: $activeClr;
				transition: all 0.5s ease 0s;
			}
			}
		}
		&__social {
			margin: 0px 0px 0px 120px;
			@media (max-width: $md2+px){
				margin: 0px 0px 0px 50px;
			}
			@media (max-width: $md4+px){
				margin: 0px 0px 0px 0px;
			}
			a{
				display: inline-block;
				margin: 0px 10px 0px 0px;
				opacity: 0.6;
				transition: all 0.5s ease 0s;
				&:hover {
					opacity: 0.45;
					transition: all 0.5s ease 0s;
				}
			}
			img{
				height: 25px;
			}
		}
	}
}
.buttom--1 {
	@media (max-width: $md3+px){
		order: 2;
	}
}
.buttom--2 {
	@media (max-width: $md3+px){
		order: 1;
	}
}
.buttom--3 {
	@media (max-width: $md3+px){
		order: 3;
	}
}
.form {
	&__body {
		margin: 25px 0px 0px 0px;
		position: relative;
		height: 48px;
		z-index: 3;
	}
	&__input {
		height: 48px;
		width: 370px;
		border: 1px solid #d9dee1;
		padding: 0px 0px 0px 20px;
		transition: all 0.5s ease 0s;
		@media (max-width: $md4+px){
			width: 300px;
		}
		&:focus{
			border: 1px solid #6c6c6c;
			transition: all 0.5s ease 0s;
		}
	}
	&__btn-email {
		height: 46px;
		width: 46px;
		position: absolute;
		z-index: 4;
		top: 1px;
		right: 2px;
		cursor: pointer;
		background-color: #fff;
		background: #fff url("../img/footer/1.png") center no-repeat;
		transition: all 0.5s ease 0s;
		@media (max-width: $md2+px){
			right: 32px;
		}
		@media (max-width: $md4+px){
			right: 12px;
		}
		&:hover{
			opacity: 0.8;
			transition: all 0.5s ease 0s;
		}
	}
}
