.title {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.subtitle {
	font-size: 60px;
	font-weight: 100;
	text-transform: uppercase;
	color: $textColor;
	@media (max-width: $md3+px){
		font-size: 30px;
	}
}

.text{
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: $textContent;
	@media (max-width: $md3+px){
		line-height: 22px;
	}
}

.btn {
	width: 212px;
	height: 45px;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(33,33,33,0.34);
	border-radius: 22.5px;
	@media (max-width: $md3+px){
		width: 150px;
	}
	a{
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: $textColor;
		display: block;
		padding: 12px 0px 0px 31px;
		transition: all 0.4s ease 0s;
			&:hover {
				&:after {
					content:url("../img/arrow.png");
					padding: 0 0 0 22px;
					transition: all 0.4s ease 0s;
					@media (max-width: $md3+px){
						padding:  0px 0px 0px 5px;
					}
				}
			}
			@media (max-width: $md3+px){
				font-size: 14px;
				padding: 10px 0px 0px 22px;
			}
	}
}

.block__title {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 700;
	color: $textContent;
	@media (max-width: $md2+px){
		font-size: 30px;
	}
	@media (max-width: $md3+px){
		font-size: 25px;
	}
	@media (max-width: $md4+px){
		font-size: 16px;
	}
	.title-active{
		color: $textColor;
		display: inline-block;
	}
	.underline-bold{
		position: relative;
		margin: 0px 20px 0px 10px;
		@media (max-width: $md4+px){
			margin: 0px 5px 0px 10px;
		}
			&::after{
			position: absolute;
			content: "";
			background-color: $textColor;
			height: 3px;
			width: 187px;
			top: 50px;
			left: -10px;
				@media (max-width: $md2+px){
					width: 160px;
				}
				@media (max-width: $md3+px){
					width: 135px;
					top: 35px;
				}
				@media (max-width: $md4+px){
					width: 90px;
					top: 30px;
				}
			}
	}
	.underline-thin{
		position: relative;
		&::after{
			position: absolute;
			content: "";
			background-color: $textColor;
			height: 1px;
			width: 120px;
			top: 53px;
			left: -13px;
				@media (max-width: $md2+px){
					width: 100px;
				}
				@media (max-width: $md3+px){
					width: 80px;
					top: 38px;
				}
				@media (max-width: $md4+px){
					width: 60px;
					top: 32px;
				}
			}
	}
}

.explore{
	a{
		display: block;
		padding: 15px 0px 0px 0px;
		position: relative;
		left: -24px;
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: $textColor;
		@media (max-width: $md2+px){
			font-size: 16px;
		}
		@media (max-width: $md3+px){
			padding:  5px 0px 0px 0px;
		}
		@media (max-width: $md4+px){
			padding:  0px 0px 0px 0px;
		}
		@media (max-width: $md4+px){
			letter-spacing: 0.05em;
			font-size: 12px;
		}
		&:hover {
			color: $textColor;
			&:after {
				position: absolute;
				content:url("../img/arrow.png");
				padding: 0 0 0 12px;
				@media (max-width: $md4+px){
					padding:  0px 0px 0px 8px;
				}
			}
		}
	}
}

.pages-title {
	font-size: 62px;
	line-height: 72px;
	font-weight: 100;
	color: $textColor;
	@media (max-width: $md3+px){
		font-size: 32px;
	}
}
